.site{
    overflow-x: hidden; /* fix for horizontal padding due to container-fluid */
}
.contact-banner{
  background-color: rgba(0,0,0,0.4);
  padding: 10px 0px;
}
.contact-details{
  font-family: $font__type1;
  font-size: 12px;
}
.contact-details i{
  color: $color__site-default;
}
.social_links i {
  padding: 0px 10px;
  color: $color__site-default;
}
#masthead{
  margin:0;
  padding:0;
}
.site{
  margin:0;
  padding:0;
}

.site-header{
  padding: 0px;
  background-color: rgba(3,3,3,0.3);

}
.site-title{
  font-weight:bold;
  font-family: $font__type1;
  font-size: 20px;
}
.site-title a, .site-title a:visited {
  text-decoration:none;
  color:#000;
}

.site-description{
  font-family: $font__type2;
  font-size: 14px;
}
.site-text-branding{
  margin-top:auto;
  margin-bottom:auto;
  padding: 25px 0;
}
.site-logo{
  margin-top:auto;
  margin-bottom: auto;
}
@media (max-width: 414px) {
  .site-logo img{
    text-align: center;
  }
}
@media (max-width: 767px) {
  .site-text-branding{
    text-align:center;
  }
  .site-logo{
    text-align: center;
  }
  .site-logo img{
    text-align: center;
  }
}

/* Hero Section */
.site-hero{
  padding: 50px 0;
}
.hero-title{
  padding-top:50px;
  padding-bottom: 30px;
  font-family: $font__type1;
  font-size: 72px;
  font-weight:bold;
  color:#424545;
  margin-top:auto;
  margin-bottom:auto;
}
.hero-text{
  font-family: $font__type2;
  font-style: italic;
  font-size: 24px;
  color:#fff;
  line-height: 1.5;
  padding: 10px 10px 10px 20px;
  border-left: 3px solid #1aa3dc;
  border-right: 3px solid #1aa3dc;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.3);
}
.hero-form{
  background-color: rgba(0,0,0,0.3);
  padding: 5px 10px;
  border-radius:10px;
}
.site-hero-form > .wpforms-form  {
  font-family: $font__type2;
  font-weight:bold;
  color: #fff;
}
