@media (max-width: 414px) {
  .navbar-nav {
    float: none;
  }
}
@media (max-width: 767px) {
  .navbar {
    margin-top: 0;
  }
  .navbar-header{
    float:none;
    text-align: center;
  }
  .navbar-nav{
    margin:0;
  }
  .nav > li > a {
    padding-left: 0;
    padding-right: 0;
  }
  .dropdown-menu > li > a {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .navbar {
    height: 50px;
  }
}

.navbar {
  margin-top:auto;
  margin-bottom:auto;
  font-family: $font__navlinks;
  font-size: 12px;
  text-transform: uppercase;
}

.navbar-header {
  float:right;
}
.navbar-collapse{
  padding: 0;
}

.navbar-default{
  border: none;
}

.navbar-toggle{
  float:none;
  margin-right: 0;
}

.navbar-toggle .icon-bar{
  width: 30px;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus{
  border:none;
  box-shadow: none;
}
.navbar-nav li{
  padding: 0;
  color:#fff;
}

@media (max-width: 991px) {
  .site-nav {
    text-align: center;
  }

  .navbar-header {
    float: none;
  }
  .navbar-nav {
    display: inline-block;
    float: none;
  }
}

@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    opacity: 0;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
  }
}

.open > .dropdown-menu {
  -webkit-transform: scale(1,1);
  tarnsform: scale(1,1);
  opacity: 1;
}

.dropdown-menu {
  opacity: .5;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: scale(1,0);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  font-size:12px;
  text-transform: capitalize;
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }
  .nav-previous {
    float: left;
    width: 50%;
  }
  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}

.nav-links a {
  text-align:center;
  line-height: 34px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

//Scroll to top
.top, .top:link {
  background-color: #ffa500;
  color: #000;
  border-radius:5px;
  position:fixed;
  z-index: 999;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.9;
  border: none;
}

.top:hover, .top:link:hover{
  background-color: transparent;
  border: 2px solid #ffa500;
  opacity: 1;
  text-decoration: none;
}
